# Created by .ignore support plugin (hsz.mobi)
/.idea/
/twophaseterminal/twophaseterminal.iml
/threadpattern.iml
/threadfuture/thread-future.iml
/threadfuture/threadfuture.iml
/threadfuture/threadpatterntwophaseterminal.iml
